.container {
  height: 100%;
  background-color: transparent;
}
header {
  height: 15%;
  width: 100%;
  position: absolute;
  background: rgb(67, 87, 173);
}
footer {
  height: 5%;
  width: 100%;
  bottom: 0;
  position: absolute;
  background: #828585;
}

.outlet {
  position: absolute;
  background-color: transparent;
  top: 15%;
  left: 0%;
  height: 80%;
  width: 100%;
  overflow-y: auto;
}
