.container {
  height: 100%;
  background-color: transparent;
}
header {
  height: 15%;
  width: 100%;
  position: absolute;
  background-color: brown;
}
footer {
  height: 10%;
  width: 100%;
  position: absolute;
  background-color: brown;
  bottom: 0;
}

.outlet {
  position: absolute;
  background-color: transparent;
  top: 15%;
  left: 0%;
  height: 75%;
  width: 100%;
  overflow-y: auto;
}
