<div class="container">
  <app-add-movie></app-add-movie>
  <button mat-button (click)="clearList()">Clear all</button>
  <mat-button-toggle-group>
    <mat-button-toggle [value]="listToggle" (click)="showList()"
      >List</mat-button-toggle
    >
    <mat-button-toggle [value]="gridToggle" (click)="showGrid()"
      >Grid</mat-button-toggle
    >
  </mat-button-toggle-group>

  <button mat-button (click)="sortByOldest()">Oldest</button>
  <button mat-button (click)="sortByLatest()">Latest</button>
  <mat-button-toggle [value]="favoriteToggle" (click)="favoriteFilter()"
    >Favorites</mat-button-toggle
  >
  <mat-paginator
    [length]="paginatorLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = handlePageEvent($event)"
  >
  </mat-paginator>
  <app-grid-movie
    [videoList]="paginatorList"
    [favoriteToggle]="favoriteToggle"
    [displayMode]="displayMode"
  ></app-grid-movie>
</div>
