<div class="container">
  <app-add-movie></app-add-movie>
  <button mat-button (click)="clearList()">Clear all</button>
  <mat-button-toggle-group>
    <mat-button-toggle [value]="listToggle" (click)="showList()"
      >List</mat-button-toggle
    >
    <mat-button-toggle [value]="gridToggle" (click)="showGrid()"
      >Grid</mat-button-toggle
    >
  </mat-button-toggle-group>

  <button mat-button (click)="sort('asc')">Oldest</button>
  <button mat-button (click)="sort('desc')">Latest</button>
  <mat-button-toggle
    [value]="toggleFavoriteFilter"
    (click)="favoriteFilter(true)"
    >Favorites</mat-button-toggle
  >
  <app-grid-movie
    [videoList]="videoList"
    [displayMode]="displayMode"
  ></app-grid-movie>
</div>
