<div class="container">
  <app-add-movie></app-add-movie>
  <button mat-button (click)="clearList()">Clear all</button>
  <button mat-button (click)="showList()">List</button>
  <button mat-button (click)="showGrid()">Grid</button>
  <button mat-button (click)="sortByOldest()">Oldest</button>
  <button mat-button (click)="sortByLatest()">Latest</button>
  <button mat-button (click)="filterFavorites()">Favorites</button>

  <mat-paginator
    [length]="paginatorLength"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageEvent = handlePageEvent($event)"
  >
  </mat-paginator>
  <app-grid-movie
    *ngIf="gridTrigger"
    [videoList]="paginatorList"
  ></app-grid-movie>
  <app-list-movie
    *ngIf="listTrigger"
    [videoList]="paginatorList"
  ></app-list-movie>
</div>
