.grid-display {
  .card {
    width: 170px;
  }
  .mat-card-actions {
    margin: 5px;
  }
}

.icon {
  float: left;
}
p {
  margin: 0px;
}
.text {
  float: left;
  margin: 0px;
  margin-top: 3px;
}
img {
  cursor: pointer;
}
