.grid-display {
  .card {
    width: 170px;
  }
}
.list-display {
  .mat-card-header .mat-card-title {
    font-size: 16px;
  }
}
.icon {
  float: left;
}
p {
  margin: 0px;
}
.text {
  float: left;
  margin: 0px;
  margin-top: 3px;
}
