.text {
  float: left;
  margin: 0px;
  margin-top: 3px;
}
.mat-card-actions,
.mat-card-content {
  margin-bottom: 0px;
  height: 25px;
}
.mat-card-actions {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  height: fit-content;
}
.icon {
  margin-top: 5px;
  float: left;
}
p {
  margin: 0px;
}
.mat-card-header .mat-card-title {
  height: 60px;
  font-size: 14px;
}
.card {
  margin: 5px;
}
